.main-row{
	background-color:transparent;
}

body{
	background-color:#000000;
	font-size: 14px;
	font-family: Arial,sans-serif;
}

.scene-entry{
	background-color: #EEE;
	margin-top: 10px;
	border-radius: 20px;
	
}

h3{
	color:#E57245;
}

.panel.panel-default {
	margin-top: 10px;
}

a.btn{
	margin-top:10px;
}

.g-recaptcha{
	margin-top: 10px;
	margin-left: -4px;
}
.g-recaptcha > div {
	background-color: #EEE !important;
}


#removeButton{
	margin: 10px 0 10 -45%;
	width: 90%;
	position: relative;
	left: 50%;
}

.lazy{
	display:none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #E57245;
	border-color: #E57245;
	
}

.btn-primary {
    background-image: linear-gradient(to bottom, #E57245 0px, #E57245 100%);
    background-repeat: repeat-x;
    border-color: #E57245;
	font-weight: bold;
	font-family: Arial,sans-serif;
	padding: 6px 10px;
}